{% extends "templatesbase/base_gestion.html" %}

{% block titulo %} Editar Servicio {% endblock %}

{% block contenido %}

<div class="container mt-5 col-6">
    <div class="card shadow">
        <div class="card-header bg-warning text-dark">
            <h4>Editar servicio</h4>
        </div>

        <div class="card-body">

            <!-- Mostrar imagen actual si existe -->
            {% if formulario.instance.imagen %}
            <div class="mb-3 text-center">
                <p class="fw-bold">Imagen actual:</p>
                <img src="{{ formulario.instance.imagen.url }}" width="150" class="rounded shadow">
            </div>
            {% endif %}

            <!-- Formulario -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ formulario.as_p }}

                <button type="submit" class="btn btn-success">Actualizar</button>
                <a href="{% url 'gestion' %}" class="btn btn-secondary">Volver</a>
            </form>

        </div>
    </div>
</div>

{% endblock %}

