<!--pagina de registro para ir a iniciar session-->
{% load static %}
<!DOCTYPE html>
<html lang="es"> <!--MODIFICAR URLS Y DIRECCIONES-->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block titulo %} Registro {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{%static 'CSS/estilos.css' %}" />

    <!--CONEXION A Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</head>

<body>

    <!--fragmento que envia mensajes de alerta-->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    {% endif %}

    <!--BARRA PRINCIPAL-->
    <header class="encab">
        <div class="barra container">
            <img src="{%static 'imagenes/imagen1.png' %}" alt="Logo Aless Cars" class="logo" />
            <nav class="navbar">
                <a class="nav-item nav-link" href="{% url 'index' %}">Inicio</a>
                <a class="nav-item nav-link" href="{% url 'nosotros' %}">Nosotros</a>
                <a class="nav-item nav-link" href="{% url 'servicios' %}">Servicios</a>
            </nav>
        </div>
    </header>

    <!-- FORMULARIO REGISTRO --> <!--REVISAR EL PREDETERMINADO "NOMBRE Y CONTRASEÑA"-->
    <main>
        <section class="container py-5" style="max-width: 600px; text-align: center;">
            <h1 class="text-center mb-4">Registro de Cliente</h1>
            <form id="formularioRegistro" class="shadow p-4 rounded bg-white" action="{% url 'registro' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="usuario" class="form-label">Nombre de usuario</label>
                    <input type="text" id="usuario" name="usuario" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label for="correo" class="form-label">Correo electrónico</label>
                    <input type="email" id="correo" name="correo" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="tel" id="telefono" name="telefono" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label for="clave" class="form-label">Contraseña</label>
                    <input type="password" id="clave" name="clave" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label class="form-label">Tipo de cliente:</label><br />
                    <input type="radio" id="persona" name="tipo" value="persona" required />
                    <label for="persona">Persona</label>
                    <input type="radio" id="empresa" name="tipo" value="empresa" />
                    <label for="empresa">Empresa</label>
                </div>

                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="terminos" name="terminos" required />
                    <label for="terminos" class="form-check-label">Acepto los términos y condiciones</label>
                </div>

                <button type="submit" class="button w-100">Enviar Registro</button>
            </form>

        </section>
    </main>
    <!-- PIE DE PÁGINA -->
    <footer class="piedepagina">
        <p>&copy; 2025 Aless Cars Chile - Todos los derechos reservados.</p>
        <div class="RRSS">
            <a href="https://www.facebook.com/share/18tEqyjW8C/">Facebook</a> |
            <a href="https://www.instagram.com/alesscars_chile">Instagram</a>
        </div>
    </footer>
    <div class='container'>
        <div class='row'>
            <div class='col-12'>
                <br>
                {% block contenido %} {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>